* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  height: 100vh;
}

.ball{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: rgb(255, 0, 208);
    display: flex;
    align-items: center;
    justify-content: center;
}

.count{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  color: #ccc;
  font-weight: bold;
}